@using Udemy_MVC_CV.Models.Entity
@model List<TblYetenek>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string renk = "";}
@{ string renk2 = "";}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title"><b>Yetenek Listem</b></h1>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">ID</th>
                                            <th>Yetenekler</th>
                                            <th>Oran</th>
                                            <th style="width: 40px">Yüzdesi</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Oran >= 0 && item.Oran <= 50)
                                            {
                                                renk = "progress-bar bg-danger";
                                                renk2 = "badge bg-danger";
                                            }
                                            else if (item.Oran >= 51 && item.Oran <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                                renk2 = "badge bg-warning";
                                            }
                                            else if (item.Oran >= 71 && item.Oran < 85)
                                            {
                                                renk = "progress-bar bg-primary";
                                                renk2 = "badge bg-primary";
                                            }
                                            else if (item.Oran >= 85)
                                            {
                                                renk = "progress-bar bg-success";
                                                renk2 = "badge bg-success";
                                            }
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Yetenek</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width:@item.Oran%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@renk2">@item.Oran %</span></td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/Yetenek/YetenekSil/@item.ID">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                    </a> 
                                                </td>
                                                <td>
                                                    <a class="btn btn-warning btn-sm" href="/Yetenek/YetenekGetir/@item.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Güncelle
                                                    </a>
                                                </td>
                                            </tr>
                                         }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <a href="/Yetenek/YeniYetenek/" class="btn btn-primary">Yeni Yetenek Ekle</a>
</body>
</html>